@font-face {
  font-family: 'FiraCode';
  src: url(http://cdn.0xygen.fun/font/FiraCodeNerdFont-Regular.ttf?e=1695960877&token=u_kKfa9mHM11nES93Zpsazr4u4cNrg6MTZXFhW7i:1ydYW3hI5HIaHDaGPf0FCEsdyTI=) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'HanYiTMR';
  src: url(http://cdn.0xygen.fun/font/HYTangMeiRen65W.subset.woff2?e=1695960836&token=u_kKfa9mHM11nES93Zpsazr4u4cNrg6MTZXFhW7i:EG0SrZMt-yUUrbytZWSZiG3-8Kk=) format("truetype");
  /* font-display: swap; */
}

/*哔哩哔哩视频适配*/
.aspect-ratio {
  position: relative;
  width: 95%;
  height: auto;
  padding-bottom: 75%;
  margin: 3% auto;
  text-align: center;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 86%;
  left: 0;
  top: 0;
}
