#article-container.post-content h1, #article-container.post-content h2, #article-container.post-content h3, #article-container.post-content h4, #article-container.post-content h5, #article-container.post-content h6 {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.fontawesomeIcon,
hr:before,
#article-container.post-content h1:before,
#article-container.post-content h2:before,
#article-container.post-content h3:before,
#article-container.post-content h4:before,
#article-container.post-content h5:before,
#article-container.post-content h6:before,
#post .post-outdate-notice:before,
.note:not(.no-icon)::before {
  display: inline-block;
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  font-family: 'Font Awesome 5 Free';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#article-container.post-content h1 {
  padding-left: 1.4rem;
}
#article-container.post-content h1 code {
  font-size: 1rem;
}
#article-container.post-content h1:before {
  margin-left: -1.2rem;
  font-size: 1rem;
}
#article-container.post-content h1:hover {
  padding-left: 1.6rem;
}
#article-container.post-content h2 {
  padding-left: 1.3rem;
}
#article-container.post-content h2 code {
  font-size: 0.9rem;
}
#article-container.post-content h2:before {
  margin-left: -1.1rem;
  font-size: 0.9rem;
}
#article-container.post-content h2:hover {
  padding-left: 1.5rem;
}
#article-container.post-content h3 {
  padding-left: 1.2rem;
}
#article-container.post-content h3 code {
  font-size: 0.8rem;
}
#article-container.post-content h3:before {
  margin-left: -1rem;
  font-size: 0.8rem;
}
#article-container.post-content h3:hover {
  padding-left: 1.4rem;
}
#article-container.post-content h4 {
  padding-left: 1.1rem;
}
#article-container.post-content h4 code {
  font-size: 0.7rem;
}
#article-container.post-content h4:before {
  margin-left: -0.9rem;
  font-size: 0.7rem;
}
#article-container.post-content h4:hover {
  padding-left: 1.3rem;
}
#article-container.post-content h5 {
  padding-left: 1rem;
}
#article-container.post-content h5 code {
  font-size: 0.6rem;
}
#article-container.post-content h5:before {
  margin-left: -0.8rem;
  font-size: 0.6rem;
}
#article-container.post-content h5:hover {
  padding-left: 1.2rem;
}
#article-container.post-content h6 {
  padding-left: 1rem;
}
#article-container.post-content h6 code {
  font-size: 0.6rem;
}
#article-container.post-content h6:before {
  margin-left: -0.8rem;
  font-size: 0.6rem;
}
#article-container.post-content h6:hover {
  padding-left: 1.2rem;
}